body {
  font-size: 12px;
  font-family: sans-serif;
  color: gray;
  margin: auto;
  padding: 10px;
}

h1 {
  color: #FF6919;
  text-align: center;
}

h2 {
  text-shadow: 1px 1px lightgray;
}

main {
  width: 500px;
  margin: auto;
}

#to-translate, #to-translate-farfallino {
  width: 400px;
  height: 80px;
  box-sizing: border-box;
  border: 2px dotted darkgray;
  background: whitesmoke;
}

.text-input {
  background-color: #FF6919;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 10px;
  display: block;
}

#translated, #translated-farfallino {
  color: gray;
  font-weight: bold;
}

hr {
  color: gray;
  border-width: 5px;
  margin: 40px 0 20px 0;
}

a {
  color: #FF6919;
}

a:hover {
  color: turquoise;
}


